@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --larguraBoxPrincipal: 800px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
}

input, textarea:-webkit-autofill {
  -webkit-text-fill-color: #C6C6C6 !important;
}

input, textarea:focus {
  outline-width: 0;
  border: none;
}

textarea::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #42A3B1;    /* color of the scroll thumb */
  border-radius: 12px;       /* roundness of the scroll thumb */
  border: 2px solid #42A3B1;  /* creates padding around scroll thumb */
}


/* HEADER */

header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 170px;
}

.container-links-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.link-header{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #353535;
}

.link-header:hover{
  color: #42A3B1;
  border-bottom: #42A3B1 3px solid;
}

.link-header:last-child{
  border: #353535 3px solid;
  padding: 5px 12px;
}

.link-header:last-child:hover{
  color: #42A3B1;
  border: #42A3B1 3px solid;
}

.logo-menu{
  display: none;
}




/* PRIMEIRA SECTION */

.banner-principal{
  background-image: url('./assets/Fundo-BannerPrincipal.webp');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-banner-principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 620px;
}

.texto-banner-principal{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.box-principal{
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  background: #FFFFFF;
  box-shadow: 0px 10px 24px rgb(0 0 0 / 36%);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.container-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.container-btn button{
  display: flex;
  align-items: self-end;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.icon-corrigir{
  width: 25px;
  margin-right: 5px;
}



.icon-gerar{
  width: 33px;
  margin-right: 5px;
}

.icon-ativo{
  fill: #42A3B1;
}

.btn-ativo, .icon-corrigir path{
  border-bottom: solid 3px #42A3B1;
  color: #42A3B1;
  fill: #42A3B1;
}

.btn-desligado, .icon-gerar path{
  color: #353535;
  fill: #353535;
}

.container-corrigir{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: AlterarTab;
  animation-duration: 1s;
}

.form-corrigir{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-direction: column;
}

.texto-corrigir{
  width: 80%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
  height: 540px;
  border-bottom: 2px solid #C6C6C6;
  padding-right: 14px;
}

.contagem-corrigir{
  width: 80%;
  text-align: end;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #C6C6C6;
}

.btn-corrigir{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: #FFFFFF;
  background: #42B189;
  border-radius: 2px;
  padding: 10px 30px;
  margin-top: 30px;
}

.btn-corrigir:hover{
  font-size: 20px;
  cursor: pointer;
}


/* SECTION COMO FUNCIONA? */

.section-como-funciona{
  padding: 650px 0 0px;
}

.container-como-funciona{
  display: flex;
  justify-content: space-between;
  padding: 0 5% ;
  align-items: center;
  margin: 150px auto 0px;
  max-width: 1600px;
}



.figura1 {
  width: 45%;
}

.textos-como-funciona{
  max-width: 500px;
}

.titulo-como-funciona{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #42A3B1;
  margin-bottom: 50px;
}

.texto-como-funciona{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000000;
  max-width: 500px;
}

.escondido{
  display: none;
}

.pontuacao{
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 7px;
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  margin-bottom: 45px;
  display: none;
  align-items: center;
  justify-content: center;
}

.container-pontuacao{
  background: #FFFFFF;
  border-radius: 7px;
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.texto-pontuacao{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #42A3B1;
}

.contorno-pontuacao{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.contorno-pontuacao2{
  background-color: #FFFFFF;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valor-pontuacao{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 68px;
  color: green;
}

.btn-pontuacao{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background: #42A3B1;
  border-radius: 2px;
  padding: 7px 22px;
  cursor: pointer;
}

.mostrar-pontuacao{
  display: flex !important;
  animation-name: mostrar;
  animation-duration: 1s;
}

.container-gerar{
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;

  animation-name: AlterarTab;
  animation-duration: 1s;
}

.form-gerar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px;
  flex-direction: column;
}

.input-gerar{
  width: 80%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
  border-bottom: 2px solid #C6C6C6;
  padding-right: 14px;
}

.btn-gerar{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: #FFFFFF;
  background: #42B189;
  border-radius: 2px;
  padding: 10px 30px;
  margin-top: 30px;
}

.btn-gerar:hover{
  font-size: 20px;
  cursor: pointer;
}

.texto-gerar{
  width: 80%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
  height: 450px;
  padding-right: 14px;
}

#load{
  width: 593px;
  /* height: 175px; */
  position: absolute;
}

.container-box-principal{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container-load{
  position: absolute;
  background: #ffff;
  border-radius: 7px;
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  margin-bottom: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.animaScroll{
  opacity: 0;
  transition: 2s;
  transform: translate3d(-30px, 0, 0);
}

.animaScroll.scrollON{
  opacity: 1;
  transition: 2s;
  transform: translate3d(0, 0, 0);
}


.erro{
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 7px;
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  margin-top: -20px;  
  display: none;
  align-items: center;
  justify-content: center;
}

.container-erro{
  background: #FFFFFF;
  border-radius: 7px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
}

.texto-erro{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #42A3B1;
  margin-bottom: 50px;
  text-align: center;
}

.mostrar-erro{
  display: flex !important;
  animation-name: mostrar;
  animation-duration: 1s;
}

.alerta{
  width: 80px;
  margin-bottom: 30px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42A3B1;
  height: 50px;
  margin-top: 100px;
}

.texto-footer{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

@media (max-width:1170px){
  .textos-como-funciona {
    max-width: 40%;
  }

  .texto-como-funciona {
    max-width: 40%;
  }

  .full-size{
    max-width: 100%;
  }

  

  .titulo-como-funciona {
    font-size: 31px;
    margin-bottom: 40px;
  } 

  .texto-como-funciona {
    font-size: 17px;
  }
}

@media (max-width:1070px){
  .container-links-header {
    position: absolute;
    justify-content: center;
    flex-direction: column;
    width: unset;
    right: 0;
    top: 75px;
    background-color: #FFFFFF;
    padding: 20px 40px;
    border-radius: 0 0 0 5px;
    display: none;
  }

  .link-header{
    font-size: 18px;
    color: #353535;
    margin: 10px 0;
  }

  .link-header:last-child{
    display: none;
  }

  .logo-menu{
    display: unset;
    width: 35px;
  }
}

@media (max-width:930px){
  .titulo-como-funciona {
    font-size: 25px;
    margin-bottom: 40px;
  } 

  .texto-como-funciona {
    font-size: 16px;
  }

  header {
    height: 50px;
    padding-top: 10px;
  }

  .container-links-header {
    top: 55px;
  }

  :root {
    --larguraBoxPrincipal: 100%
  }

}

@media (max-width:830px){
  .texto-gerar {
    font-size: 15px;
    height: 200px;
  }

  .banner-principal {
    padding: 0 5%;
  }

  .container-banner-principal {
    margin-top: 410px;
  }

  .container-como-funciona {
    display: flex;
    justify-content: center;
    padding: 30px;
    align-items: center;
    margin: 80px auto 0px;
    flex-direction: column;
    border: #42A3B1 solid 3px;
    width: 90%;
    max-width: 500px;
    border-radius: 3px;
  }

  .section-como-funciona {
    padding: 398px 0 0px;
  }

  .box-principal {
    height: 530px;
  }

  .texto-corrigir {
    height: 279px;
  }

  .figura1{
    margin: 40px 0;
  }

  .textos-como-funciona {
    max-width: 90%;
  }

  .texto-como-funciona {
    max-width: 90%;
  }

  .full-size{
    max-width: 100%;
  }

}

@media (max-width:530px){
  .box-principal{
    box-shadow: 0px 3px 14px rgb(0 0 0 / 36%);
  }

  .texto-gerar {
    font-size: 15px;
    height: 200px;
  }

  .container-como-funciona {
    padding: 30px;
    margin: 40px auto 0px;
    border: rgb(66 163 177) solid 3px;
    width: 80%;
  }

  .container-btn {
    width: 85%;
  }

  .container-btn button {
    font-size: 16px;
  }

  .icon-corrigir {
    width: 22px;
  }

  .texto-corrigir{
    font-size: 15px;
  }

  .contagem-corrigir {
    font-size: 11px;
  }

  .btn-corrigir {
    font-size: 16px;
  }
}

@media (max-width:460px){
  .logo {
    width: 115px;
  }

  .logo-menu {
    display: unset;
    width: 30px;
  }

  .container-links-header {
    padding: 15px 25px;
  }

  .link-header {
    font-size: 14px;
    color: #353535;
    margin: 5px 0;
  }

  .container-banner-principal {
    margin-top: 135px;
  }

  .texto-banner-principal {
    font-size: 16px;
    margin-bottom: 47px;
  }

  .box-principal {
    height: 365px;
  }

  .container-btn {
    width: 97%;
  }

  .container-btn button {
    font-size: 13px;
  }

  .form-corrigir {
    padding: 20px 0;
  }

  .texto-corrigir {
    width: 95%;
    font-size: 13px;
    height: 190px;
    padding-right: 7px;
  }

  .btn-corrigir {
    font-size: 16px;
    margin-top: 15px;
    padding: 5px 15px;
  }

  .icon-gerar {
    width: 28px;
    margin-right: 4px;
  }

  .input-gerar {
    width: 95%;
    font-size: 12px;
    padding-right: 7px;
  }

  .btn-gerar {
    font-size: 14px;
  }

  .form-gerar {
    padding: 20px 0 40px;
  }

  .erro {
    width: 90%;
    height: 365px;
    margin-top: -20px;
  }

  .container-erro {
    background: #FFFFFF;
    border-radius: 7px;
    width: 85%;
    padding: 20px 5px;
  }

  .texto-erro {
    font-size: 16px;
    color: #42A3B1;
    margin-bottom: 20px;
  }

  .texto-gerar {
    width: 95%;
    font-size: 13px;
    height: 143px;
    padding-right: 7px;
  }

  .section-como-funciona {
    padding: 160px 0 0px;
  }

  .container-como-funciona {
    padding: 30px 5px;
    margin: 35px auto 0px;
    width: 88%;
  }

  .titulo-como-funciona {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .texto-como-funciona {
    font-size: 14px;
  }

  footer {
    height: 45px;
    margin-top: 55px;
  }

  .texto-footer {
    font-size: 14px;
  }

  .pontuacao {
    width: 90%;
    height: 365px;
    margin-top: -3px;
  }

  .container-pontuacao {
    width: 92%;
    height: 250px;
    padding: 15px;
  }

  .texto-pontuacao {
    font-weight: 600;
    font-size: 17px;
    color: #42A3B1;
  }

  .contorno-pontuacao {
    width: 125px;
    height: 125px;
    border-radius: 75px;
    margin: 15px 0;
  }

  .contorno-pontuacao2 {
    background-color: #FFFFFF;
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .container-load {
    width: 90%;
    height: 345px;
    margin-bottom: 0px;
  }

  #load{
    width: 400px;
    position: absolute;
  }

}

/* ANIMACOES */

@keyframes mostrar {
  from{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes AlterarTab {
  from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

