@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --larguraBoxPrincipal: 800px;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
}

input, textarea:-webkit-autofill {
  -webkit-text-fill-color: #C6C6C6 !important;
}

input, textarea:focus {
  outline-width: 0;
  border: none;
}

textarea::-webkit-scrollbar {
  width: 7px;               /* width of the entire scrollbar */
}

textarea::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

textarea::-webkit-scrollbar-thumb {
  background-color: #42A3B1;    /* color of the scroll thumb */
  border-radius: 12px;       /* roundness of the scroll thumb */
  border: 2px solid #42A3B1;  /* creates padding around scroll thumb */
}


/* HEADER */

header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-header{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 170px;
}

.container-links-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.link-header{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #353535;
}

.link-header:last-child{
  border: #353535 3px solid;
  padding: 5px 12px;
}





/* PRIMEIRA SECTION */

.banner-principal{
  background-image: url('./assets/Fundo-BannerPrincipal.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-banner-principal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 620px;
}

.texto-banner-principal{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  max-width: 600px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 80px;
}

.box-principal{
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  background: #FFFFFF;
  box-shadow: 0px 10px 24px rgb(0 0 0 / 36%);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

.container-btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

.container-btn button{
  display: flex;
  align-items: self-end;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.icon-corrigir{
  width: 25px;
  margin-right: 5px;
}



.icon-gerar{
  width: 33px;
  margin-right: 5px;
}

.icon-ativo{
  fill: #42A3B1;
}

.btn-ativo, .icon-corrigir path{
  border-bottom: solid 3px #42A3B1;
  color: #42A3B1;
  fill: #42A3B1;
}

.btn-desligado, .icon-gerar path{
  color: #353535;
  fill: #353535;
}

.container-corrigir{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  animation-name: AlterarTab;
  animation-duration: 1s;
}

.form-corrigir{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  flex-direction: column;
}

.texto-corrigir{
  width: 80%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
  height: 540px;
  border-bottom: 2px solid #C6C6C6;
  padding-right: 14px;
}

.contagem-corrigir{
  width: 80%;
  text-align: end;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #C6C6C6;
}

.btn-corrigir{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: #FFFFFF;
  background: #42B189;
  border-radius: 2px;
  padding: 10px 30px;
  margin-top: 30px;
}

.btn-corrigir:hover{
  font-size: 20px;
  cursor: pointer;
}


/* SECTION COMO FUNCIONA? */

.section-como-funciona{
  padding: 650px 0 80px;
}

.container-como-funciona{
  display: flex;
  justify-content: space-between;
  padding: 0 5% ;
  align-items: center;
  margin: 150px auto;
  max-width: 1600px;
}



.figura1{
  width: 500px;
}

.textos-como-funciona{
  max-width: 500px;
}

.titulo-como-funciona{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #42A3B1;
  margin-bottom: 50px;
}

.texto-como-funciona{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000000;
  max-width: 500px;
}

.escondido{
  display: none;
}

.pontuacao{
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 7px;
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  margin-bottom: 45px;
  display: none;
  align-items: center;
  justify-content: center;
}

.container-pontuacao{
  background: #FFFFFF;
  border-radius: 7px;
  width: 70%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.texto-pontuacao{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #42A3B1;
}

.contorno-pontuacao{
  width: 150px;
  height: 150px;
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.contorno-pontuacao2{
  background-color: #FFFFFF;
  width: 125px;
  height: 125px;
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valor-pontuacao{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 68px;
  color: green;
}

.btn-pontuacao{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  background: #42A3B1;
  border-radius: 2px;
  padding: 7px 22px;
  cursor: pointer;
}

.mostrar-pontuacao{
  display: flex !important;
  animation-name: mostrar;
  animation-duration: 1s;
}

.container-gerar{
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;

  animation-name: AlterarTab;
  animation-duration: 1s;
}

.form-gerar{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0 40px;
  flex-direction: column;
}

.input-gerar{
  width: 80%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
  border-bottom: 2px solid #C6C6C6;
  padding-right: 14px;
}

.btn-gerar{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  color: #FFFFFF;
  background: #42B189;
  border-radius: 2px;
  padding: 10px 30px;
  margin-top: 30px;
}

.btn-gerar:hover{
  font-size: 20px;
  cursor: pointer;
}

.texto-gerar{
  width: 80%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #353535;
  height: 450px;
  padding-right: 14px;
}

#load{
  width: 593px;
  /* height: 175px; */
  position: absolute;
}

.container-box-principal{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container-load{
  position: absolute;
  background: #ffff;
  border-radius: 7px;
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  margin-bottom: 45px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.animaScroll{
  opacity: 0;
  transition: 2s;
  transform: translate3d(-30px, 0, 0);
}

.animaScroll.scrollON{
  opacity: 1;
  transition: 2s;
  transform: translate3d(0, 0, 0);
}


.erro{
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  border-radius: 7px;
  width: var(--larguraBoxPrincipal);
  height: var(--larguraBoxPrincipal);
  margin-top: -20px;  
  display: none;
  align-items: center;
  justify-content: center;
}

.container-erro{
  background: #FFFFFF;
  border-radius: 7px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px 40px;
}

.texto-erro{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #42A3B1;
  margin-bottom: 50px;
  text-align: center;
}

.mostrar-erro{
  display: flex !important;
  animation-name: mostrar;
  animation-duration: 1s;
}

.alerta{
  width: 80px;
  margin-bottom: 30px;
}



/* ANIMACOES */

@keyframes mostrar {
  from{
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes AlterarTab {
  from{
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

